@use 'variables';

.hero {
    display: block;
    position: relative;
    
    &__bg {
        width: 100%;
        max-height: 100vh;
    }

    &__about {
        position: absolute;
        right: 15vw;
        top: 5em;
        width: 460px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        font-weight: bold;

        img {
            width: 70%;
            margin-bottom: 24px;
        }

        .title {
            white-space: nowrap;
        }

        .btn {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;

            &--is-disabled {
                background-color: variables.$colorBg;
                color: green;
            }
        }
    }


    @media (max-width: variables.$mobile) {
        .hero {

            
            &__bg {
                height: 100vh;
                object-fit: cover;
                
            }
            
            &__about {
                position: absolute;
                top: 15%;
                width: 80%;
                right: 10%;
                margin: 0 auto;
                
                .title {
                    font-size: 28px;
                }
            }
        }
    }
}