@use 'variables';
.movies {
    overflow-x: hidden;
    text-align: center;
    
    .title {
        margin-top: 32px;
    }

    .text--bg {
        max-width: 60%;
        margin: 0 auto;
        font-size: 26px;
        padding-bottom: 64px;

    }

    &__carousel {
        margin: 32px 0;
        
        img {
            width: auto;
            margin: 0 16px;
            height: 100%;
            border-radius: 4px;
            box-shadow: 0px 0px 25px rgba(darken(variables.$colorBg, 5%), 0.8);
        }
    }
}

@media (max-width: variables.$mobile) {

    .movies {

        .text--bg {
            max-width: 90%;
            font-size: 18px;
        }
    }
    
}