/* Fonts */
$fontTitle: 'Abril Fatface', cursive;
$fontText: 'Comfortaa', cursive;

/* Pallette */

$colorTextDark: #000000;
$colortextLigh: #d1d1d1;
$colorBg: #ECF2FF;

$mobile: 768px;
$tablet: 1023px;