@use 'variables';
@use 'hero';
@use 'movies';
@use 'awards';
@use 'faq';
@use 'store';
@use 'footer';
@use 'header';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: variables.$colorBg;
}

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize 8px;
    color: variables.$colorTextDark;
}

.title {
    font-family: variables.$fontTitle;
    @include text(32px);

    &--sm {
        @include text(28px);
    }

    &--bg {
        @include text(42px);
    }
}


.text {
    font-family: variables.$fontText;
    @include text(16px);

    &--sm {
        @include text(12px);
    }

    &--bg {
        @include text(18px);
    }
}

.btn {
    background-color: variables.$colorTextDark;
    color: variables.$colortextLigh;
    font-weight: bold;

    &:hover {
        background-color: variables.$colorBg;
        border: 1px solid variables.$colorTextDark;
    }
}

a:hover {
    border-bottom: 1px solid lighten(variables.$colorTextDark,  0.5);
}